In [8]:
import pandas as pd
import numpy as np
import sqlite3 as sqlite3

In [13]:
conn = sqlite3.connect(':memory:')
c = conn.cursor()
c.executescript(open('files/van_crime_2003.sql', 'r').read())

In [14]:
df = pd.read_sql('SELECT * FROM van_crimes', conn)
df.head()

,TYPE,YEAR,MONTH,DAY,HOUR,MINUTE,HUNDRED_BLOCK,NEIGHBOURHOOD,X,Y
0,Theft from Vehicle,2003,6,28.0,13.0,30.0,8XX EXPO BLVD,Central Business District,491771.63,5458295.01
1,Theft from Vehicle,2003,11,17.0,16.0,0.0,56XX OAK ST,South Cambie,490682.32,5453536.96
2,Theft from Vehicle,2003,12,30.0,14.0,0.0,85XX STANLEY PARK DR,Stanley Park,489104.19,5460347.36
3,Theft of Vehicle,2003,1,15.0,14.0,45.0,6XX W 41ST AVE,Oakridge,491372.94,5453422.83
4,Theft from Vehicle,2003,12,28.0,16.0,45.0,85XX STANLEY PARK DR,Stanley Park,489104.19,5460347.36

In [20]:
def test_crime_types_1():
    assert crime_types_count.shape == (4,)

In [29]:
df['TYPE'].unique()

array(['Theft from Vehicle', 'Theft of Vehicle',
       'Break and Enter Residential/Other', 'Mischief',
       'Offence Against a Person',
       'Vehicle Collision or Pedestrian Struck (with Injury)'],
      dtype=object)

In [26]:
df['TYPE'].unique().shape

(6,)

In [21]:
def test_crime_types_2():
    assert crime_types_count.sum() == 64

In [32]:
df['TYPE'].value_counts()

TYPE
Theft of Vehicle                                        100
Theft from Vehicle                                       78
Break and Enter Residential/Other                        34
Mischief                                                 29
Offence Against a Person                                  5
Vehicle Collision or Pedestrian Struck (with Injury)      4
Name: count, dtype: int64

In [40]:
df[df.duplicated()]

,TYPE,YEAR,MONTH,DAY,HOUR,MINUTE,HUNDRED_BLOCK,NEIGHBOURHOOD,X,Y
145,Offence Against a Person,2003,6,19.0,NaN,NaN,OFFSET TO PROTECT PRIVACY,None,0.0,0.0

In [22]:
def test_crime_types_3():
    assert crime_types_count[1] == 15

In [41]:
df.iloc[1]

TYPE             Theft from Vehicle
YEAR                           2003
MONTH                            11
DAY                            17.0
HOUR                           16.0
MINUTE                          0.0
HUNDRED_BLOCK           56XX OAK ST
NEIGHBOURHOOD          South Cambie
X                         490682.32
Y                        5453536.96
Name: 1, dtype: object

In [47]:
df.loc[df['HOUR'] == 15].iloc[1]

TYPE               Theft from Vehicle
YEAR                             2003
MONTH                               2
DAY                              28.0
HOUR                             15.0
MINUTE                            0.0
HUNDRED_BLOCK    85XX STANLEY PARK DR
NEIGHBOURHOOD            Stanley Park
X                           489104.19
Y                          5460347.36
Name: 54, dtype: object

In [23]:
def test_crimes_1():
    assert van_crimes_df.shape == (64, 4)

In [24]:
def test_crimes_2():
    assert van_crimes_df.loc[3, 'DAY'] == 12.0

# SOLUTION

In [49]:
df = pd.read_sql('''SELECT TYPE, MONTH, DAY, NEIGHBOURHOOD
                            FROM van_crimes WHERE NEIGHBOURHOOD IN ("Stanley Park", "West End")''', conn)

In [50]:
df.shape

(64, 4)

In [52]:
df['TYPE'].unique()

array(['Theft from Vehicle', 'Mischief', 'Theft of Vehicle',
       'Break and Enter Residential/Other'], dtype=object)

In [57]:
df['TYPE'].unique().shape

(4,)

In [59]:
df.value_counts().sum()

64

In [65]:
df.shape

(64, 4)

In [60]:
df.iloc[15]

TYPE             Theft from Vehicle
MONTH                             7
DAY                            21.0
NEIGHBOURHOOD          Stanley Park
Name: 15, dtype: object

In [64]:
df.loc[df['DAY'] == 15]

                                 TYPE  MONTH   DAY NEIGHBOURHOOD
33                 Theft from Vehicle     11  15.0      West End
62  Break and Enter Residential/Other      2  15.0      West End

In [66]:
df.loc[df['MONTH'] == 12]

                                 TYPE  MONTH   DAY NEIGHBOURHOOD
0                  Theft from Vehicle     12  30.0  Stanley Park
1                  Theft from Vehicle     12  28.0  Stanley Park
2                  Theft from Vehicle     12  12.0  Stanley Park
3                  Theft from Vehicle     12  12.0  Stanley Park
39                 Theft from Vehicle     12  16.0      West End
51  Break and Enter Residential/Other     12  16.0      West End
53                 Theft from Vehicle     12  26.0      West End

In [67]:
df.loc[df['MONTH'] == 12].iloc[3]

TYPE             Theft from Vehicle
MONTH                            12
DAY                            12.0
NEIGHBOURHOOD          Stanley Park
Name: 3, dtype: object