In [6]:
import numpy as np
import pandas as pd
import sqlite3

# create a new connection to a db in memory
conn = sqlite3.connect(':memory:')

# create a cursor
c = conn.cursor()

# restore the given van_crime_2003.sql dump
c.executescript(open('files/van_crime_2003.sql', 'r').read())

# your code goes here

In [9]:
df = pd.read_sql('SELECT * FROM van_crimes', conn)
df.head()

,TYPE,YEAR,MONTH,DAY,HOUR,MINUTE,HUNDRED_BLOCK,NEIGHBOURHOOD,X,Y
0,Theft from Vehicle,2003,6,28.0,13.0,30.0,8XX EXPO BLVD,Central Business District,491771.63,5458295.01
1,Theft from Vehicle,2003,11,17.0,16.0,0.0,56XX OAK ST,South Cambie,490682.32,5453536.96
2,Theft from Vehicle,2003,12,30.0,14.0,0.0,85XX STANLEY PARK DR,Stanley Park,489104.19,5460347.36
3,Theft of Vehicle,2003,1,15.0,14.0,45.0,6XX W 41ST AVE,Oakridge,491372.94,5453422.83
4,Theft from Vehicle,2003,12,28.0,16.0,45.0,85XX STANLEY PARK DR,Stanley Park,489104.19,5460347.36

In [10]:
def test_crimes_1():
    assert van_crimes_df.shape == (126, 10)

In [13]:
df.shape ==(126, 10)

False

In [14]:
df.iloc[126]

TYPE             Vehicle Collision or Pedestrian Struck (with I...
YEAR                                                          2003
MONTH                                                            1
DAY                                                           12.0
HOUR                                                          23.0
MINUTE                                                        45.0
HUNDRED_BLOCK                        E 12TH AVE / ST CATHERINES ST
NEIGHBOURHOOD                                       Mount Pleasant
X                                                         493791.0
Y                                                        5456330.0
Name: 126, dtype: object

In [11]:
def test_crimes_2():
    assert van_crimes_df.loc[14, 'HOUR'] == 23

In [16]:
df.loc[14,'HOUR'] == 23

False

In [17]:
df.loc[14,'HOUR']

21.0

In [ ]:
def test_dangerous_month_1():
    assert dangerous_month_crimes.values[0] == 17

In [18]:
df.values[0] == 17

array([False, False, False, False, False, False, False, False, False,
       False])

In [23]:
df.loc[0, 'MONTH'] == 17

False

In [ ]:
def test_dangerous_month_2():
    assert dangerous_month_crimes.index[0] == 6

In [68]:
df.loc[0,'MONTH'] == 6

True

In [67]:
dangerous_month_crimes = df.loc[:, 'MONTH'].value_counts().head(1)
dangerous_month_crimes

MONTH
5    31
Name: count, dtype: int64

In [72]:
df['MONTH'].value_counts().head(1)

MONTH
5    31
Name: count, dtype: int64

In [31]:
def test_late_crimes_1():
    assert late_crimes.shape == (57, 10)

In [32]:
late_crimes = df.copy()

In [40]:
late_crimes = df.loc[df['HOUR'] > 18]

In [41]:
late_crimes.shape

(57, 10)

In [42]:
def test_late_crimes_2():
    assert late_crimes.loc[7, 'HOUR'] == 20

In [64]:
later_crimes = df.loc[df['HOUR'] == 20]

In [65]:
later_crimes

,TYPE,YEAR,MONTH,DAY,HOUR,MINUTE,HUNDRED_BLOCK,NEIGHBOURHOOD,X,Y
18,Theft from Vehicle,2003,9,1.0,20.0,10.0,85XX STANLEY PARK DR,Stanley Park,489104.19,5460347.36
76,Theft of Vehicle,2003,3,12.0,20.0,0.0,20XX COMOX ST,West End,489602.49,5459800.00
92,Theft from Vehicle,2003,10,27.0,20.0,0.0,11XX BARCLAY ST,West End,490719.76,5458990.73
109,Theft from Vehicle,2003,6,20.0,20.0,30.0,85XX LIGHTHOUSE WAY,Killarney,496436.44,5450343.65
111,Theft from Vehicle,2003,6,19.0,20.0,0.0,85XX LIGHTHOUSE WAY,Killarney,496436.21,5450361.00
125,Mischief,2003,4,29.0,20.0,30.0,10XX COTTON DR,Grandview-Woodland,494798.57,5458176.91
129,Break and Enter Residential/Other,2003,6,4.0,20.0,10.0,30XX KINGSWAY AVE,Renfrew-Collingwood,496941.90,5453677.36
136,Theft from Vehicle,2003,9,8.0,20.0,30.0,5X W 11TH AVE,Mount Pleasant,492289.50,5456500.47
157,Theft from Vehicle,2003,10,24.0,20.0,0.0,5X W 13TH AVE,Mount Pleasant,492281.78,5456290.21
211,Mischief,2003,1,23.0,20.0,0.0,9XX BUTE ST,West End,490544.46,5459030.37
223,Break and Enter Residential/Other,2003,12,3.0,20.0,42.0,30XX KNIGHT ST,Mount Pleasant,494440.98,5456067.19

In [66]:
later_crimes.iloc[7]

TYPE             Theft from Vehicle
YEAR                           2003
MONTH                             9
DAY                             8.0
HOUR                           20.0
MINUTE                         30.0
HUNDRED_BLOCK         5X W 11TH AVE
NEIGHBOURHOOD        Mount Pleasant
X                          492289.5
Y                        5456500.47
Name: 136, dtype: object