In [69]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [70]:
column_names = ['color', 'director_name', 'num_critic_for_reviews', 'duration',
                'gross', 'movie_title', 'num_user_for_reviews',	'country',
                'cotent_rating', 'budget', 'title_year', 'imdb_score', 'genre']

In [71]:
df = pd.read_csv('files/movies.csv',
                 sep = '|',
                 header=None,
                 names = column_names,
                 na_values='?',
                 thousands= ',')
df

,color,director_name,num_critic_for_reviews,duration,gross,movie_title,num_user_for_reviews,country,cotent_rating,budget,title_year,imdb_score,genre
0,Color,James Cameron,723.0,178.0,760505847.0,Avatar,3054.0,USA,PG-13,237000000.0,2009.0,7.9,Action
1,Color,Gore Verbinski,302.0,169.0,309404152.0,Pirates of the Caribbean: At World's End,1238.0,USA,PG-13,300000000.0,2007.0,7.1,Action
2,Color,Sam Mendes,602.0,148.0,200074175.0,Spectre,994.0,UK,PG-13,245000000.0,2015.0,6.8,Action
3,Color,Christopher Nolan,813.0,164.0,448130642.0,The Dark Knight Rises,2701.0,USA,PG-13,250000000.0,2012.0,8.5,Action
4,NaN,Doug Walker,NaN,NaN,NaN,Star Wars: Episode VII - The Force Awakens ...,NaN,NaN,NaN,NaN,NaN,7.1,Documentary
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Color,James Gunn,653.0,121.0,333130696.0,Guardians of the Galaxy,1097.0,USA,PG-13,170000000.0,2014.0,8.1,Action
96,Color,Christopher Nolan,712.0,169.0,187991439.0,Interstellar,2725.0,USA,PG-13,165000000.0,2014.0,8.6,Adventure
97,Color,Christopher Nolan,642.0,148.0,292568851.0,Inception,2803.0,USA,PG-13,160000000.0,2010.0,8.8,Action
98,Color,Hideaki Anno,1.0,120.0,NaN,Godzilla Resurgence,13.0,Japan,NaN,NaN,2016.0,8.2,Action
99,Color,Peter Jackson,645.0,182.0,303001229.0,The Hobbit: An Unexpected Journey,1367.0,USA,PG-13,180000000.0,2012.0,7.9,Adventure

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   color                   99 non-null     object
 1   director_name           100 non-null    object
 2   num_critic_for_reviews  99 non-null     float64
 3   duration                99 non-null     float64
 4   gross                   97 non-null     float64
 5   movie_title             100 non-null    object
 6   num_user_for_reviews    99 non-null     float64
 7   country                 99 non-null     object
 8   cotent_rating           98 non-null     object
 9   budget                  96 non-null     float64
 10  title_year              99 non-null     float64
 11  imdb_score              100 non-null    float64
 12  genre                   100 non-null    object
dtypes: float64(7), object(6)
memory usage: 10.3+ KB

In [74]:
df.duplicated().any()

False

In [75]:
df.isna().any()

color                      True
director_name             False
num_critic_for_reviews     True
duration                   True
gross                      True
movie_title               False
num_user_for_reviews       True
country                    True
cotent_rating              True
budget                     True
title_year                 True
imdb_score                False
genre                     False
dtype: bool

In [76]:
df.isna().sum()

color                     1
director_name             0
num_critic_for_reviews    1
duration                  1
gross                     3
movie_title               0
num_user_for_reviews      1
country                   1
cotent_rating             2
budget                    4
title_year                1
imdb_score                0
genre                     0
dtype: int64

In [77]:
df = df.dropna()

In [78]:
df

,color,director_name,num_critic_for_reviews,duration,gross,movie_title,num_user_for_reviews,country,cotent_rating,budget,title_year,imdb_score,genre
0,Color,James Cameron,723.0,178.0,760505847.0,Avatar,3054.0,USA,PG-13,237000000.0,2009.0,7.9,Action
1,Color,Gore Verbinski,302.0,169.0,309404152.0,Pirates of the Caribbean: At World's End,1238.0,USA,PG-13,300000000.0,2007.0,7.1,Action
2,Color,Sam Mendes,602.0,148.0,200074175.0,Spectre,994.0,UK,PG-13,245000000.0,2015.0,6.8,Action
3,Color,Christopher Nolan,813.0,164.0,448130642.0,The Dark Knight Rises,2701.0,USA,PG-13,250000000.0,2012.0,8.5,Action
5,Color,Andrew Stanton,462.0,132.0,73058679.0,John Carter,738.0,USA,PG-13,263700000.0,2012.0,6.6,Action
...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,Color,Jonathan Mostow,280.0,109.0,150350192.0,Terminator 3: Rise of the Machines,1676.0,USA,R,200000000.0,2003.0,6.4,Action
95,Color,James Gunn,653.0,121.0,333130696.0,Guardians of the Galaxy,1097.0,USA,PG-13,170000000.0,2014.0,8.1,Action
96,Color,Christopher Nolan,712.0,169.0,187991439.0,Interstellar,2725.0,USA,PG-13,165000000.0,2014.0,8.6,Adventure
97,Color,Christopher Nolan,642.0,148.0,292568851.0,Inception,2803.0,USA,PG-13,160000000.0,2010.0,8.8,Action
99,Color,Peter Jackson,645.0,182.0,303001229.0,The Hobbit: An Unexpected Journey,1367.0,USA,PG-13,180000000.0,2012.0,7.9,Adventure

**1.Test for movies with a budget of at least $105,000,000**

In [79]:
def test_budget():
    assert movies.loc[:, 'budget'].min() == 105_000_000.0

In [88]:
df.loc[:, 'budget'].min() == 105_000_000.0

[True]

In [97]:
df.loc[df['budget'] <= 105_000_000.0]

,color,director_name,num_critic_for_reviews,duration,gross,movie_title,num_user_for_reviews,country,cotent_rating,budget,title_year,imdb_score,genre
50,Color,Baz Luhrmann,490.0,143.0,144812796.0,The Great Gatsby,753.0,Australia,PG-13,105000000.0,2013.0,7.3,Drama

**Tested the that there is at least one movie with a minimum budget of $105,000,000.00.**

**2. Now test for unique countries where movies originated from**

In [107]:
df['country'].unique()

array(['USA', 'UK', 'New Zealand', 'Canada', 'Australia'], dtype=object)

In [120]:
df['country'].value_counts()

country
USA            87
UK              5
New Zealand     2
Canada          1
Australia       1
Name: count, dtype: int64

**3. Test shape of data frame**

In [121]:
df.shape

(96, 13)