In [8]:
import pandas as pd
import numpy as np
import sqlite3 as sqlite3

In [9]:
conn = sqlite3.connect(':memory:')
c = conn.cursor()
c.executescript(open('files/cryptos.sql', 'r').read())

In [18]:
df = pd.read_sql('''SELECT cryptocoins_cryptocurrency.name AS coin_name,
                 cryptocoins_exchange.name AS exchange,
                 symbol, price_usd, percent_change_7d
                 FROM cryptocoins_cryptocurrency
                 JOIN cryptocoins_exchange
                 ON cryptocoins_cryptocurrency.exchange_id = cryptocoins_exchange.id''', conn)

df

       coin_name  exchange symbol  price_usd  percent_change_7d
0        Bitcoin  Bitstamp    BTC    8707.37              -5.91
1       Ethereum  Bitstamp    ETH     186.50              -0.66
2            XRP  Bitstamp    XRP       0.27              -8.22
3   Bitcoin Cash   Binance    BCH     278.92              -4.76
4         Tether  Bitstamp   USDT       1.01               0.45
..           ...       ...    ...        ...                ...
95     iExec RLC  Bitstamp    RLC       0.73              10.64
96  BitMax Token      OKEx   BTMX       0.07               1.18
97     Flexacoin  Bitstamp    FXC       0.00              -0.39
98        Chiliz  Poloniex    CHZ       0.01               5.44
99         Ardor  Bitstamp   ARDR       0.05              -3.56

[100 rows x 5 columns]

In [19]:
def test_cryptos_1():
    assert crypto_df.shape == (100, 5)

In [20]:
df.shape

(100, 5)

In [13]:
def test_cryptos_2():
    assert crypto_df.loc[12, 'symbol'] == 'LINK'

In [21]:
df.iloc[12]

coin_name            Chainlink
exchange              Poloniex
symbol                    LINK
price_usd                 3.15
percent_change_7d        16.93
Name: 12, dtype: object

In [22]:
df.loc[df['symbol'] == 'LINK']

    coin_name  exchange symbol  price_usd  percent_change_7d
12  Chainlink  Poloniex   LINK       3.15              16.93

In [14]:
def test_weekly_change_1():
    assert weekly_change_df.iloc[0]['coin_name'] == 'DxChain Token'

In [27]:
df.loc[df['coin_name'] == 'DxChain Token']

        coin_name exchange symbol  price_usd  percent_change_7d
65  DxChain Token     OKEx     DX        0.0              89.14

In [33]:
df[df['coin_name'] == 'DxChain Token']

        coin_name exchange symbol  price_usd  percent_change_7d
65  DxChain Token     OKEx     DX        0.0              89.14

In [15]:
def test_weekly_change_2():
    assert weekly_change_df.iloc[4]['price_usd'] == 0.01

In [34]:
df.loc[df['price_usd'] == 0.01]

   coin_name  exchange symbol  price_usd  percent_change_7d
26   VeChain      OKEx    VET       0.01              21.49
69  DigiByte  Bitstamp    DGB       0.01               1.10
80      IOST      OKEx   IOST       0.01              -3.36
94    Aurora   Binance    AOA       0.01               9.49
98    Chiliz  Poloniex    CHZ       0.01               5.44

In [36]:
df.loc[df['price_usd'] == 0.01].iloc[4]

coin_name              Chiliz
exchange             Poloniex
symbol                    CHZ
price_usd                0.01
percent_change_7d        5.44
Name: 98, dtype: object

In [40]:
df.sort_values('percent_change_7d', ascending=False)

        coin_name  exchange symbol  price_usd  percent_change_7d
65  DxChain Token      OKEx     DX       0.00              89.14
39         MINDOL  Bitstamp    MIN       1.36              72.90
74          Seele  Bitstamp  SEELE       0.11              39.59
61         Komodo  Poloniex    KMD       0.86              22.75
26        VeChain      OKEx    VET       0.01              21.49
..            ...       ...    ...        ...                ...
35  Insight Chain  Bitstamp    INB       0.64             -13.37
57          Bytom      OKEx    BTM       0.11             -13.42
64      Silverway  Poloniex    SLV       0.95             -13.84
63        EDUCare      OKEx    EKT       0.10             -14.31
59           LUNA  Poloniex   LUNA       0.37             -17.84

[100 rows x 5 columns]