In [21]:
import numpy as np
import pandas as pd

col_names = ['Title', 'Air date', 'Production code', 'Season', 'Number in season',
             'Number in series', 'US viewers (million)', 'Views', 'IMDB rating']

select_cols = ['Title','Air date','Production code','IMDB rating']

# Reading TSVs
When reading tsvs, use the read_csv() to read the tsv and csv files.
usecols is parameter similar to query. The parameter will select certain columns to be viewed in the data frame.

In [54]:
df = pd.read_csv('files/simpsons-episodes.tsv',
                 sep = "\t",
                 header = None,
                 names=col_names,
                 skiprows=4,
                 index_col='Production code',
                 parse_dates=['Air date'],
                 na_values='no_val',
                 #usecols=select_cols,
                 encoding = 'utf8')
df

/var/folders/pg/sqf9myss733_86tn8zcr1qtr0000gn/T/ipykernel_97745/2469357992.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df = pd.read_csv('files/simpsons-episodes.tsv',

,Title,Air date,Season,Number in season,Number in series,US viewers (million),Views,IMDB rating
Production code,,,,,,,,
7F01,Two Cars in Every Garage and Three Eyes on Eve...,1990-01-11,2.0,4,17,26.10,64959.0,8.1
7F08,NaN,1990-11-15,2.0,6,19,25.40,50691.0,8.0
7F06,Bart the Daredevil,1990-06-12,2.0,8,21,26.20,57605.0,NaN
NaN,Bart Gets Hit by a Car,1991-10-01,2.0,10,23,24.80,56486.0,7.8
7F13,Homer vs. Lisa and the 8th Commandment,1991-07-02,2.0,13,26,26.20,58277.0,8.0
...,...,...,...,...,...,...,...,...
PABF07,At Long Last Leave,2012-02-19,23.0,14,500,5.77,45226.0,7.0
PABF08,How I Wet Your Mother,2012-11-03,23.0,16,502,4.97,44818.0,7.3
PABF18,Adventures in Baby-Getting,2012-04-11,24.0,3,511,5.65,39687.0,6.9
SABF08,Diggs,2014-09-03,25.0,12,542,2.69,39292.0,6.4
SABF13,Days of Future Future,2014-04-13,25.0,18,548,3.64,55742.0,7.0

**1. Test for select columns**

In [26]:
def test_simpsons_columns():
    assert list(df.columns) == ['Title', 'Air date', 'IMDB rating']

In [30]:
df[['Title', 'Air date', 'IMDB rating']]

,Title,Air date,IMDB rating
Production code,,,
7F01,Two Cars in Every Garage and Three Eyes on Eve...,1990-01-11,8.1
7F08,NaN,1990-11-15,8.0
7F06,Bart the Daredevil,1990-06-12,NaN
NaN,Bart Gets Hit by a Car,1991-10-01,7.8
7F13,Homer vs. Lisa and the 8th Commandment,1991-07-02,8.0
...,...,...,...
PABF07,At Long Last Leave,2012-02-19,7.0
PABF08,How I Wet Your Mother,2012-11-03,7.3
PABF18,Adventures in Baby-Getting,2012-04-11,6.9
SABF08,Diggs,2014-09-03,6.4
SABF13,Days of Future Future,2014-04-13,7.0

**2. Test iloc for df at certain range**

In [31]:
def test_simpsons_item():
    assert simpsons.iloc[234, 2] == 6.6

In [34]:
df.iloc[234,2] == 6.6

True

In [49]:

print(df.iloc[234] , '\n', df.iloc[234,2])

Title          Gal of Constant Sorrow
Air date          2016-02-21 00:00:00
IMDB rating                       6.6
Name: VABF06, dtype: object
 6.6

**Test shape**

In [50]:
df.shape

(597, 3)

In [55]:
df.isna().sum()

Title                   22
Air date                 0
Season                   3
Number in season         0
Number in series         0
US viewers (million)     9
Views                    4
IMDB rating              5
dtype: int64

In [56]:
df.duplicated().sum()

0

In [57]:
df.dropna()

,Title,Air date,Season,Number in season,Number in series,US viewers (million),Views,IMDB rating
Production code,,,,,,,,
7F01,Two Cars in Every Garage and Three Eyes on Eve...,1990-01-11,2.0,4,17,26.10,64959.0,8.1
NaN,Bart Gets Hit by a Car,1991-10-01,2.0,10,23,24.80,56486.0,7.8
7F13,Homer vs. Lisa and the 8th Commandment,1991-07-02,2.0,13,26,26.20,58277.0,8.0
7F17,Old Money,1991-03-28,2.0,17,30,21.20,44331.0,7.6
7F19,Lisa's Substitute,1991-04-25,2.0,19,32,17.70,52770.0,8.5
...,...,...,...,...,...,...,...,...
PABF07,At Long Last Leave,2012-02-19,23.0,14,500,5.77,45226.0,7.0
PABF08,How I Wet Your Mother,2012-11-03,23.0,16,502,4.97,44818.0,7.3
PABF18,Adventures in Baby-Getting,2012-04-11,24.0,3,511,5.65,39687.0,6.9
SABF08,Diggs,2014-09-03,25.0,12,542,2.69,39292.0,6.4
SABF13,Days of Future Future,2014-04-13,25.0,18,548,3.64,55742.0,7.0